*{
margin: 0;
padding: 0;


}
html, body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;

}
.background{
	width: 100%;
	height:100%;
	background-image: url(../images/efbbcc.png);
	background-repeat: repeat;
	background-origin: cover;
	position: relative;
	overflow-y: auto;
	background-attachment: fixed;
	background-position: center;
}

.nav{
	width: 350px;
	height: auto;
	background-color: transparent;
	position: absolute;
	top: 20%; 
	left: 0;
	position: -webkit-sticky;
    position: sticky;
    padding-top: 55px;
    padding-bottom: 40px;
}

.nav a{
	text-decoration: none;
	font-size: 20px;
	font-family: noteworthy;
	font-weight: bold;
	height: 90px;
	margin: 5px 0;
	float: center;
	display: inline-block;
	background-color: transparent;
	color: white;
	line-height: 90px;
	text-align: center;
	transition: 300ms;
	border-radius: 30px;}


a.active, .nav a:hover{
	background-color: #E68FA1;
	color:  white;
	width: 100%;
}

.a{
	width: 95%;
}
.b{
	width: 85%;
}
.c{
	width: 80%;
}
.d {
	width: 90%;
}

.content{
    position: absolute;
	width: 930px;
	min-height: 500px;
	height: auto;
	right: 0;
	top: 10%;
	left: 36%;}


.home{
	position: absolute;
	right: 0;
	bottom: 19px;
	color: white;
	font-family: noteworthy;}



.home h1 {
	font-size: 60px;
	padding-right: 90px;
	padding-left: 50px;
	border-bottom: 1px solid white;
	border-spacing: 1px solid white;
	text-transform: uppercase;
	text-shadow: 5px 5px #E68FA1; }



.home h2 {
	font-size: 35px;
	padding-right: 5px 0;
	opacity: 0.6;
	text-shadow: 5px 5px #E68FA1;}



.about { position: absolute;
	right: 0;
	left: -3%;
	top: 10px;
	color: white;
	font-family: noteworthy; 
display: none;
 padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;

}

 
 .about p { font-size: 22px;
 	line-height: 28px;
 	margin-bottom: 15px;

 }

 .gallery {position: absolute;
	right: 0;
	left: -3%;
	top: 10px;
	color: white;
    padding: 0 60px;
    display: none;
    font-family: noteworthy; }

.gallery .image {
	width: 49%;
	margin: 2.1%;
	float: left;}

.image img {
	width: 100%;
    transition: all ease 0.5%;
    -webkit-transition: all ease 0.5%;
	transform: scale(1);
	-webkit-transform: scale(1);
}

.image img:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

.gallery h2 {color: white;
	font-family: noteworthy;
	border-bottom: 1px solid white;
	border-spacing: 1px solid white;}
 
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
padding-bottom: 15px;}

  .contactme {position: absolute;
	right: 0;
	left: -3%;
	top: 10px;
	color: white;
    padding: 0 60px;
    display: none;}

    .inputtext {
    	width: 55%;
    	height:65px;
    	border: 3px solid #E68FA1;
    	color: #E68FA1;
    	background-color: white;
    	opacity: 50%;
    	font-family: noteworthy;
    	font-size: 23px;
    	padding:0 10px;
    	border-radius: 20px;
    	float: left;
    	margin-bottom: 15px; }

        .inputmessage {
    	width: 55%;
    	height: 140px;
    	border: 3px solid #E68FA1;
    	color: #E68FA1;
    	background-color: white;
    	opacity: 50%;
    	font-family: noteworthy;
    	font-size: 23px;
    	padding:0 10px;
    	border-radius: 20px;
    	float: left;}

    .submitbutton {
    	width: 160px;
    	height: 65px;
    	background-color: white;
    	color: #E68FA1;
        opacity: 50%;
        font-family: note-worthy;
        font-size: 25px
        border: none;
        font-weight: bold;
        float: left;
        clear: both;
        margin-top: 25px;
    }

     .logo {float: left;
     	width:10%;
     	height:50px;
     	position: -webkit-sticky;
        position: sticky;}
